In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("bagmati_eng.csv")
df.head()

#Gender Analysis
df_mayor=df.loc[df['Position'] == "Mayor"] #extracting mayor information
df_mayor_male=df_mayor.loc[df_mayor['Gender']=="M"] #extracting male mayor information
df_mayor_female=df_mayor.loc[df_mayor['Gender']=="F"] #extracting female mayor information
#df_mayor_other=df_mayor.loc[df_mayor['Gender']=="O"] #extracting mayor information of other genders

gender=pd.DataFrame(columns=['District','Male Count','Female Count']) #creating the final dataframe for gender analysis
#gender=pd.DataFrame(columns=['District','Male Count','Female Count','Other Count'])
gender['District']=df_mayor.District.unique() #populating districts



#****Male Mayor Count Value Population****
male_count = df_mayor_male.groupby(['District',]).Gender.size().reset_index(name='count') #counting number of male mayors in each district
M_count = [] #empty array
for district in gender['District']: #looping gender on District column
    if((district in male_count['District'].unique())==True): #condition to append values on the basis of District in male_count
         M_count.append(male_count.loc[male_count['District']== district]['count'].iloc[0])
          
    else:
        M_count.append(0)
gender['Male Count']=M_count #populating a_g Male Count column




#****Female Mayor Count Value Population****
female_count = df_mayor_female.groupby(['District',]).Gender.size().reset_index(name='count') #counting number of female mayors in each district
F_count = [] #empty array
for district in gender['District']: #looping gender on District column
    if((district in female_count['District'].unique())==True): #condition to append values on the basis of District in female_count
         F_count.append(female_count.loc[female_count['District']== district]['count'].iloc[0])
          
    else:
        F_count.append(0)
gender['Female Count']=F_count #populating a_g Female Count column


#****Other Mayor Count Value Population, N/A in 2017****
#other_count = df_mayor_other.groupby(['District',]).Gender.size().reset_index(name='count') #counting number of mayors of other genders in each district
#O_count = [] #empty array
#for district in gender['District']: #looping gender on District column
#    if((district in other_count['District'].unique())==True): #condition to append values on the basis of District in other_count
#         O_count.append(other_count.loc[other_count['District']== district]['count'].iloc[0])
#          
#    else:
#        O_count.append(0)
#gender['Other Count']=O_count


gender.set_index('District', inplace=True)
gender

                Male Count  Female Count
District
Dolakha                  9             0
Ramechhap                8             0
Sindhuli                 8             1
Rasuwa                   4             1
Dhading                 13             0
Nuwakot                 12             0
Kathmandu               11             0
Bhaktapur                4             0
Lalitpur                 6             0
Kavrepalanchok          13             0
Sindhupalchok           12             0
Makwanpur               10             0
Chitawan                 4             3

In [2]:
#Age Analysis

#Creating new columns on df_mayor with 0 value based on age range
df_mayor['21-40']=0
df_mayor['41-60']=0
df_mayor['60+']=0

#Allocating values as 1 in appropriate age-range columns depending on value in "Age" column for each mayor row
df_mayor.loc[df_mayor['Age'] <= 40, '21-40'] = 1
df_mayor.loc[(df_mayor['Age'] >= 41) & (df_mayor['Age']<=60), '41-60'] = 1
df_mayor.loc[df_mayor['Age'] >= 60, '60+'] = 1

#Extracting age range columns into different series
x=[]
y=[]
z=[]
x=df_mayor.groupby('District')['21-40'].sum()
y=df_mayor.groupby('District')['41-60'].sum()
z=df_mayor.groupby('District')['60+'].sum()

#Converting series to dataframe, data is placed in ascending order depending on the District string
x=pd.DataFrame(x)
y=pd.DataFrame(y)
z=pd.DataFrame(z)

#Creating final age dataframe for analysis
age=pd.DataFrame(columns=['District','21-40','41-60','60+'])

#Populating rows with different districts
age['District']=df_mayor['District'].unique()
age.sort_values(by='District',inplace=True) #sorting value in district column to match the order in x,y, and z
age.set_index('District', inplace=True)

#getting arrays from age columns in x, y and z. Direct appending yielded NaN values.
age2140 = x['21-40'].to_numpy()
age4160 = y['41-60'].to_numpy()
age61 = z['60+'].to_numpy()

#appending age range arrays into the final dataframe
age['21-40']=age2140
age['41-60']=age4160
age['60+']=age61

age

C:\Users\NISHAN~1\AppData\Local\Temp/ipykernel_2108/1121326952.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mayor['21-40']=0
C:\Users\NISHAN~1\AppData\Local\Temp/ipykernel_2108/1121326952.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mayor['41-60']=0
C:\Users\NISHAN~1\AppData\Local\Temp/ipykernel_2108/1121326952.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mayor['60+']=0
D:\SW\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

                21-40  41-60  60+
District
Bhaktapur           0      4    0
Chitawan            0      6    1
Dhading             1     10    2
Dolakha             1      8    0
Kathmandu           0     10    1
Kavrepalanchok      2      8    3
Lalitpur            1      4    1
Makwanpur           3      7    0
Nuwakot             1     11    1
Ramechhap           0      8    0
Rasuwa              2      3    0
Sindhuli            2      6    1
Sindhupalchok       1     11    1