In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("state1_eng.xlsx.csv")

In [3]:
df = df[df['Position']== 'Mayor']

In [4]:
a_g=pd.DataFrame(columns=['District','Male Count','Female Count','21-40','41-60','60+'])

In [5]:
a_g['District'] = df.District.unique()

In [6]:
def age_analysis(age_group):
    colum = []
    for district in a_g['District']:
        
        if((district in age_group['District'].unique())==True):
             colum.append(age_group.loc[age_group['District']== district]['count'].iloc[0])
          
        else:
            colum.append(0)
    return colum

In [7]:
Male_data = df.loc[df['Gender'] == 'M']
gender_data =df.loc[df['Gender'] == 'F']
age_group_40 = df.loc[(df['Age']>21) &( df['Age']<40)]
age_group_61 = df[df['Age']<61]
age_group_40_2_60 = df.loc[(df['Age']>41)& (df['Age']<61)]

In [8]:
Male_count = Male_data.groupby(['District',]).District.size().reset_index(name='count')
Gender_count = gender_data.groupby(['District',]).District.size().reset_index(name='count')
count_age_group_40 = age_group_40.groupby(by=['District']).District.count().reset_index(name='count')
count_age_group_40_2_60 = age_group_40_2_60.groupby(by=['District']).District.size().reset_index(name ='count')
count_age_group_61 = age_group_61.groupby(by=['District']).District.size().reset_index(name ='count')

In [9]:
male_count_list =  age_analysis(Male_count)
Female_count = age_analysis(Gender_count)
less_than_40  = age_analysis(count_age_group_40)
within_40_2_60 = age_analysis(count_age_group_40_2_60) 
more_than_61 = age_analysis(count_age_group_61)

In [10]:
a_g['Female Count']=Female_count
a_g['Male Count']=  male_count_list 
a_g['21-40']= less_than_40
a_g['41-60'] = within_40_2_60
a_g['60+'] = more_than_61

In [11]:
a_g

        District  Male Count  Female Count  21-40  41-60  60+
0       Pachthar          16             0      0     10   10
1          Jhapa          14             1      0     14   14
2   Sankhuwasawa          10             0      4      4    9
3      Therathum           6             0      2      4    6
4        Bhojpur           9             0      4      5    9
5       Dhankuta           7             0      3      3    7
6         Morang          17             0      1     11   14
7        Sunsari          12             0      1      8   10
8     Solukhumbu           8             0      5      3    8
9        Khotang          10             0      4      5   10
10   Okhaldhunga           8             0      1      5    6
11      Udayapur           8             0      1      7    8
12     Taplejung           9             0      1      6    8

In [12]:
a_g.to_csv('Mayor_state1.csv')